---
import { concerts } from '../data/concerts';
import { isFuture, parseISO } from 'date-fns';
import Concert from './Concert.astro';
import { Icon } from 'astro-icon/components';


const futureConcerts = concerts
  .filter(concert => isFuture(parseISO(concert.date)))
  .sort((a, b) => parseISO(a.date).getTime() - parseISO(b.date).getTime());
---
<div class="grid gap-4 max-w-3xl mx-auto">
  {futureConcerts.length > 0 ? (
    futureConcerts.map(concert => <Concert concert={concert} />)
  ) : (
    <div class="text-center py-8 text-gray-400">
      <Icon name="mdi:calendar-blank" class="w-16 h-16 mx-auto mb-4 opacity-50" />
      <p class="text-xl">No hay conciertos programados en este momento</p>
    </div>
  )}
</div>
